.body {
  background-color: rgb(24, 24, 59);
  height: 100vh;
  padding: 50px;
}

.rating button {
  background-color: rgb(227, 225, 225);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
}

.rating button:hover,
.rating button.selected {
  background-color: #ff6a95;
  color: white;
}

.cardContainer{
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 35px;
  justify-content: center;
}

.card{
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  position: relative;
}

.ratingDisplay{
  position: absolute;
  background-color: #ff6a95;
  border-radius: 50%;
  left: 0;
  top: 0;
  translate: -50% -50%;
  width: 35px;
  height: 35px;
  font-size: 1.2rem;
  text-align: center;
  padding-top: 3px;
  color: white;
}

.delete{
  position: absolute;
  top: 5px;
  right: 5px;
}