.card-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgb(36, 170, 36);
  padding: 10px;
  width: 150px;
}