@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1a202c;
  --color-secondary: #2d3748;
  --color-accent: #4a5568;
}

[data-theme="cyberpunk"] {
  --color-primary: #ff00ff;
  --color-secondary: #00ffff;
  --color-accent: #ff9900;
}
[data-theme="red"] {
  --color-primary: red;
  --color-secondary: green;
  --color-accent: yellow;
}
[data-theme="black"] {
  --color-primary: black;
  --color-secondary: white;
  --color-accent: blue;
}
